{% extends 'base.html' %}

{% block content %}
{% if empty %}
	<h1 style="text-align: center;"> {{empty_message}}</h1>
{% else %}
<table class="table">
<thead><th>Name</th><th>Price</th><th>Quantity</th></thead>
<tfoot>
	<tr> <td></td><td>Total: {{cart.total}}</td> </tr>
</tfoot>
	{% for item in cart.cartitem_set.all %}	
	<tr>
	<td>{{item.product}} {% if item.variations.all %}<ul>{% for subitem in item.variations.all %}<li>{{ subitem.category|capfirst}} : {{ subitem.title|capfirst }}{% endfor %}</li><ul> {% endif %}</td> 
	<td>{{item.product.price}}</td>
	<td>{{item.quantity}}</td>
	<td><a href="{% url 'remove_from_cart' item.id %}">Remove </a></td></tr>
	{% endfor %}

</table>


<a href='{% url "checkout" %}'>Checkout</a>
{% endif %}

{% endblock %}