{% extends 'base.html' %}

{% block content %}

<div class="page-header">
  <h1>{{product.title}} <!-- <a href="{% url 'update_cart' product.slug %}?qty=2" class="pull-right"> Add to Cart </a> -->  <small>${{product.price}}</small></h1>
  <form method="GET" action="{% url 'update_cart' product.slug %}" class="form pull-right">
	<input name="qty" type="number" value='1' class="form-group">
	<!-- <input name="attr" type="text" placeholder='color' class="form-group"> -->
	<select class="form-control" name='color'>
		<option value="Red"> Red</option>
		<option value="Blue"> Blue</option>
		<option value="Green"> Green</option>
	</select>
	<select class="form-control" name='size'>
		<option value="Small"> Small</option>
		<option value="Medium"> Medium</option>
		<option value="Large"> Large</option>
	</select>
	<input type="submit" value="Add to Cart" class="btn btn-default">	
</form>
</div>


<div class="row">
<div class="col-sm-4">
{% for img in images %}

	{% if img.featured %}
		<h2> Featured </h2>
		<img src="{{ MEDIA_URL }}{{img.image}}" class="img-responsive" style="height:350px; width: 500px;">
	{% endif %}
	{% if not img.featured %}
		<img src="http://placehold.it/350x150" class="img-responsive">
	{% endif %}
	

{% endfor %}
</div>
<div class="col-sm-8">
	{{product.description| linebreaks}}
	</div>
</div>
{% endblock %}