{% extends 'base.html' %}

{% block content %}

<div class="page-header">
  <h1>{{product.title}} <small>${{product.price}}</small></h1>
  <form class='form' method='POST' action='{% url "add_to_cart" product.slug %}'> {% csrf_token %}
	<input name="qty" type="number" value='1' class="form-group">
	<!-- <input name="attr" type="text" placeholder='color' class="form-group"> -->
	{%if product.variation_set.all%}
			<select class="form-control" name='size'>
			{%if product.variation_set.sizes%}
				{% for item in product.variation_set.sizes %}				
				<option value="{{ item.title|lower }}"> {{ item.title|capfirst }}</option>		
				{% endfor %}
			</select>
			{% endif %}
			{%if product.variation_set.colors%}
				<select class="form-control" name='color'>
					{% for item in product.variation_set.colors %}
					<option value="{{ item.title|lower }}"> {{ item.title|capfirst }}</option>		
					{% endfor %}
				</select>
			{% endif %}			
	</select>
	{% endif %}
	<input type="submit" value="Add to Cart" class="btn btn-default">	
</form>
</div>


<div class="row">
<div class="col-sm-4">
{% for img in images %}

	{% if img.featured %}
		<h2> Featured </h2>
		<img src="{{ MEDIA_URL }}{{img.image}}" class="img-responsive" style="height:350px; width: 500px;">
	{% endif %}
	{% if not img.featured %}
		<img src="http://placehold.it/350x150" class="img-responsive">
	{% endif %}
	

{% endfor %}
</div>
<div class="col-sm-8">
	{{product.description| linebreaks}}
	</div>
</div>
{% endblock %}